<div class="container content">
  <div class="row">
    <!--Header content-->
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label for="sortBy">Sort by:</label>
          <select id="sortBy" data-ng-model="$ctrl.orderProp" class="form-control">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
          </select>
        </div>

        <div class="form-group">
          <label for="search" class="sr-only">Search:</label>
          <input id="search" type="text" data-ng-model="$ctrl.query" placeholder="Search" class="form-control"/>
        </div>
      </form>
    </div>
  </div>

  <!--Body content-->
  <div class="row">
    <div class="col-md-12">
      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="phone-listing col-sm-3">
          <div class="thumbnail">
            <a data-ui-sref="app.pages.phones.id({id: phone.id})" class="thumb">
              <img ng-src="{{::phone.imageUrl}}" alt="{{::phone.name}}">
            </a>

            <a data-ui-sref="app.pages.phones.id({id: phone.id})" data-ng-bind="::phone.name"></a>
            <p data-ng-bind="::phone.snippet"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>